{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Search YouTube</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <style>
      .spotify-green {
        background-color: #1DB954;
        border-color: #1DB954;
      }

      .spotify-green:hover {
        background-color: #1ED760;
        border-color: #1ED760;
      }
      body {
        background: linear-gradient(to bottom, #1DB954, #191414);
      }
      .gradient {
        background: linear-gradient(to bottom, #191414, #0F1E14);
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="{% static 'yt_search/style.css' %}" rel="stylesheet">
  </head>
  <body>

    {% if messages %}
    
      {% for message in messages%} 
      {% if message.tags == 'error' %}
      
      <div class="alert alert-danger alter-dismissable fade show" style="z-index: 1; " role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      {% elif message.tags == 'success' %}
       
      <div class="alert alert-success alter-dismissable fade show" style="z-index: 1;" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
       
      {% elif message.tags == 'info' %}
      
        <div class="alert alert-info" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% elif message.tags == 'warning' %}
        <div class="alert alert-warning" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %} {% endfor %} {% endif %}
<main role="main" >

  <section class="jumbotron text-center gradient">
    <div class="container">
      <h1 class="jumbotron-heading">Paste The YouTube Playlist Link</h1>
      <br>
      <form method="POST" action ="">
        {% csrf_token %}
      <div class="input-group mb-3">
        <input type="text" name="link" class="form-control" aria-label="Username">
      </div>
        <button class="btn btn-primary my-2 spotify-green">Make a spotify playlist</button>
      </form>
      <p class="small text-muted">Note that the transfer can not work with the youtube generated song mixes.</p>
    </div>
  </section>
</main>
</body>
</html>